/* container (partie1 + partie2) */
/* * {
    border: 1px solid red;
} */

.container{
    display:block;
}
.container2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1200px;
    height: 1200px;
    font-family: 'Lato';
    font-size: medium;
    
}
.IMAGE{
    width: 500px;
    background-color: #323b4c;

}
.entete{
  width: 900px;
}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: solid #323b4c;
    border-width: 1px 1px 0 0;
    width: 1200px;

}
.image img{
    height: 230px;
    width: 180px;
    border-radius: 50%;
    border:1px solid #323b4c; 
    align-items: center;
    margin-left: 25%;
    background-color: #323b4c;
}
/* partie 2*/
.partie2{
    width: 500px;
    height: 1000px;
    background-color: #323b4c;
    border:1px solid #323b4c;
    padding: 30px;
}
.separation{
    border: solid #8b8c8d;
    border-width: 0 0 1px 0;
    margin: -10px 0 10px 0;
   
}


.texte{
     color: white;
     font-size: 23px;
}

/* partie 3*/

.partie3{
    width: 900  px;
    height: 1000px;
    border:solid #323b4c;
    border-width: 0 1px 1px 0px;
    padding-left: 20px;
    color: black;
}    
    
.separation2{
    border: solid #8b8c8d;
    border-width: 0 0 1px 0;
    margin: -20px 0 10px 0;
    
}
.titre{
    font-weight: bold;
    font-size: 25px;
}

/* icon star*/
    .rating-color{
        color:#323b4c !important;
    }
    .small-ratings i{
      color:#cecece;   
    }
    .ETOILE{
        display: flex;
        flex-wrap: wrap;
    }
    
    /* Media queris*/
    @media screen and (max-width: 800px){
    .container2{
        display: flex;
        flex-direction: column;
        width: 650PX;
    
    }
    .header{
        flex-direction: row;
        display: flex;
    
        
    }
    .entete{
        margin-left: 30px;
        background-color: #323b4c;
    }
    .partie2{
        width: 1000px;
    }
    .IMAGE{
        width: 1000PX;
        background-color: #323b4c;

    }
    .image{
        margin-left: -25%;
    }
}